.remove-btn{
  margin-right: 0.5rem;
}

.fade-enter{
  opacity: 0.01;
}

.fade-enter-active{
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit{
  opacity: 1;
}

.fade-exit-active{
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

/* allusers-card */
.allusers-card-text {
  font-size: 0.7rem;
}

.card {
  box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.5);
  transition: 0.7s;
}

.card:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0 0.6rem 1.8rem rgba(0, 0, 0, 0.5);
}