.user-projects-list-modal {
  background-color: transparent !important;
  border: none;
}

.user-projects-list-card {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5) !important;
  transition: 0.7s !important;
}

.user-projects-list-card:hover {
  transform: translateY(-0.5rem) !important;
  box-shadow: 0 4rem 4rem rgba(0, 0, 0, 0.5) !important;
}