<!DOCTYPE html>
<html>

<head>
  <title>Reset Password</title>
</head>

<body>
  <div>
    <h3>Dear {{username}},</h3>
    <p>You requested for a password reset, kindly use this <a href="{{url}}">link</a> to reset your password.</p>
    <p>{{url}}</p>
    <br>
    <p>Cheers!</p>
  </div>
</body>

</html>