<!DOCTYPE html>
<html>

<head>
  <title>Password Changed Email</title>
</head>

<body>
  <div>
    <h3>Dear {{username}},</h3>
    <p>You password has been updated.</p>
    <br>
    <p>Cheers!</p>
  </div>
</body>
</html>