<!DOCTYPE html>
<html>

<head>
  <title>Welcome</title>
</head>

<body>
  <div>
    <h3>Dear {{username}},</h3>
    <p>Welcome aboard</p>
    <p>Kindly use this <a href="{{url}}">link</a> to activate your account</p>
    <br>
    <p>Cheers!</p>
  </div>
</body>
</html>